.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.cover {
    width: 100%;
    text-align: left;
    
}
/*margin: 5vh 20vw 0 20vw;*/

.destinations-container {
    margin: 20px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: center;
}

.destinations {
    width: 25vw;
    height: 25vw;
    border-radius: 2px;
}

.caption {
    text-align: center;
    margin: 2vh 4vw 2vh 4vw;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    
}
.cheading{
    font-size: 20px;
    font-weight: 500;
}

/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }