*{font-family: Verdana, Geneva, Tahoma, sans-serif;}


  .lbody{
    background-color: rgb(250, 230, 234);
    
    padding: 0;
  }
.lcontainer{
    
    align-items: center;
    margin-top: 210px;
    margin-left: 450px;
    
    place-items: center;
    background-color: rgb(229, 187, 229);
    border: none;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
    height: 450px;
    


    
}
.lname{
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 100;
  text-decoration: none;
  text-align: left;
  padding: 5px;
  margin-top: 10px;
  margin-left: 6px;

}
.lfield{
  
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin: 10px;
  

}
.lbutton{
  background-color: pink;
  text-align: centre;
  color: black;
  font-weight: 100;
  padding: 5px;
  margin-top: 25px;
  margin-left: 6px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  box-sizing: content-box;
  width: 300px;
  height: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
  
}
.lhead{
  padding-top: 25px;
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px){
  .lcontainer{
    
    
    background-color: rgb(229, 187, 229);
    border: none;
    border-radius: 10px;
    display: flexbox;
    float: left;
    
    box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
    
  }
  .lname{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    text-align: left;
    padding: 5px;
    margin-top: 10px;
    margin-left: 6px;

  }
  .lfield{
  
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: auto;
    height: 40px;
    margin: 10px;
  

  }
  .lbutton{
    background-color: pink;
    text-align: centre;
    color: black;
    font-weight: 100;
    padding: 5px;
    width:50%;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-sizing: content-box;
    width: auto;
    height: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
  
  }


}
