*{font-family: Verdana, Geneva, Tahoma, sans-serif;}


  .lbody{
    background-color: rgb(250, 230, 234);
    
    padding: 0;
  }
.lcontainer{
    
    align-items: center;
    margin-top: 210px;
    margin-left: 450px;
    
    place-items: center;
    background-color: rgb(229, 187, 229);
    border: none;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
    height: 450px;
  }
  .lfield{
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 90%;
    padding: 10px;
    margin: 20px;
    margin-left: 5px;
  }
  .lname{
   
    justify-content: baseline;
    font-size: 30px;
    margin-left: 5px;

  }
  .lhead{
    text-align: center;
    margin: 15px;
  }
  .lbutton{
    width: 90%;
    height: 40px;
    margin-top: 20px;
    background-color: pink;
    box-shadow: 0 8px 16px 0 rgba(0, 0,0,0.2),0 17px 50px 0 rgba(0, 0,0,0.219);
    border-radius: 10px;
    border: none;
  }
  @media screen and (max-width: 768px){
    .lcontainer{
      width: 70%;
    }
    
  }