@import url(login.css);
@import url(index.css);

@import url(navbar.css);


*{font-family: sans-serif;}
signup.body{background-color: rgb(250, 212, 212);
margin: 30px,20px;
padding:30px,20px;
}
.form{background-color: rgb(248, 219, 227);
align-items: center;
margin: 20px;
padding: 20px;
border: none;
border-radius: 8px;
}
.scontainer{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}
.sform{align-content: center;
margin-left: 40px;
margin-top: 40px; 
}
.sname{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    
    margin: 5px;
    padding: 5px;
}
.sfield{

  text-align: centre;
  
  font-weight: 100;
  padding: 5px;
  margin: 0;
  margin-top: 15px;
  border: none;
  display: flex;
  border-radius: 7px;
  box-sizing: content-box;
  width: 300px;
  height: 30px;
    
}
.submit{
    align-items: center;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    width: 150px;
    background-color: rgb(232, 162, 173);
    height: 40px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
form{margin-left: 50px;
align-items: center;}

