*{font-family: sans-serif;}
title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
    background-color:antiquewhite ;
}
.tbody{
    background-color: antiquewhite;
    place-content: left;
    margin: 15px;
    padding: 20px;

}
.thappy{background-color:rgba(234, 178, 187, 0.783);
display: inline;
size: 100%;
padding: 20px,20px;}